<h1>All Trips</h1>
<table>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.name, trip_path(trip.id) %></td>
        <td><%=link_to "☒", trip_path(trip.id), method: :delete, data: {confirm: "Confirm Deletion"} %></td>
      </tr>
    <% end %>
    <% if @trips.count == 0 %>
      <tr>
        <td>There are currently no planned trips.</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "+ Create A Trip", new_trip_path %>
