<h1><%= @trip.name %></h1>

<% if !@trip.description.empty? %>
  <p>Description: <%= @trip.description %></p>
<% end %>

<h3>Stops:</h3>
<table>
  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td>◦ <%= stop.name %></td>
        <td>| Edit |</td>
        <td>| Delete |</td>
      </tr>
    <% end %>
    <tr>
      <td>+ Add A Stop</td>
    </tr>
  </tbody>
</table>
